$primary-color: #19A650;

$bg-primary: #FFFFFF;
$text-color-white: #FFFFFF;

$warning-box-bg: #FFF7F7;
$warning-box-text: #EF6A6A;
$text-primary: #1D2223;
$text-secondary: #525962;
$text-gray: #949AA4;

$student-name-color: #1E2B3A;

$overlay-shadow: #000000A3;

$sidebar-color: #111D2B;
$sidebar-active-color: #31445A;
$sidebar-icon-inactive-color: #949AA4;
$sidebar-icon-active-color: #FFFFFF;

$divider-color: #707070;

$stop-point-border-color: #70707040;

$scrollbar-color: #2770C480;

$opacity-black: rgba(0,0,0,.3);
$opacity-primary: #19A6501A;

$paved-color: #2695F5;
$unpaved-color: #FF0000;

// MAP
$slider-button-background-color: #9DA4AD1F;
$slider-button-color: #9DA4AD;

$slider-active-button-background-color: #1D2223;
$slider-active-button-color: #fff;

$barrier-student: #EB6E40;
$countryside-student: #19A650;
$disability-student: #2EAEE4;
$wheelchair-student: #2770C4;
$distance-student: #4A2FB8;
$excluded-student: #EF6A6A;
$not-informed-student: #DE35BC;
$stop-point: #111D2B;

$font-regular: 400;
$font-medium: 500;
$font-semi: 600;
$font-bold: 700;
